<div class="main-content">
    <div id="images-container" class="images-container">

        {{#each photos}}
        {{> photogallery/photo this}}
        {{/each}}

    </div>
    <div class="photogallery-panel">
        Invite a user to view this album: 
        <input type="text" id="photogallery-user-search-input" list="photogallery-user-search-datalist" placeholder="Search for a user...">
        <input type="button" id="photogallery-invite-user-button" class="photogallery-invite-user-button" value="Share">
        <datalist id="photogallery-user-search-datalist"></datalist>
        <div>These users may view this album:</div>
        <ul>
            {{#each invitedUsers}}
            <li>
                {{> photogallery/invited-user-item }}
            </li>
            {{/each}}
        </ul>
        <div class="photogallery-button-container">
            <form id="photogallery-upload-photo-form" method="POST" action="/photogallery/{{photoAlbumId}}/photo/upload"
                enctype="multipart/form-data">
                <input type="file" id="photogallery-file-picker" class="upload-box" name="photogallery-file-picker"
                    accept=".png, .jpg" />

                <button id="photogallery-upload-photo-button" class="picbutton">Upload Photo</button>
            </form>
        </div>
    </div>
</div>