<form class="form" method="POST" action="/posts/{{id}}/createcomment" enctype="application/x-www-form-urlencoded">
    <div class="submission-grid-container">
        <input id="commenteditortext" name="text" class="default-field submission-text" type="text" required />
        <input id="createcommentbutton" class="submit-button" style="width: auto;" type="submit" value="Post Comment" />
    </div>
</form>