<div id="flash-message">
    {{#if messages.error}}
    <div class="flash-message-error">{{messages.error}}</div>
    {{else}}
    <div class="flash-message-alert">{{messages.success}}</div>
    {{/if}}
</div>