<div class="nav-grid-container">
    <div class="nav-col-1">
        <div>Taylor's CSC317 Term Project</div>
        <div>{{title}}</div>
    </div>
    <div class="nav-col-2">
        {{#if logged}}
        <input id="homeButton" class="home-button" type="button" value="Home" />
        <input id="postImageButton" class="post-image-button" type="button" value="Post Image" />
        {{/if}}
    </div>
    <div class="nav-col-3">
        {{#if logged}}
        <Label>User: {{session.username}}</Label>
        <input id="logoutButton" class="logout-button" type="button" value="Logout" />
        {{/if}}
    </div>
</div>
{{#if logged}}
<script src="/public/js/navbar.js" type="text/javascript"></script>
{{/if}}