<div class="navbar-container">
    <div class="navbar-col-1">
        <input type="button" class="round basic-button navbar-button" value="Log In">
        <input type="button" class="round basic-button navbar-button" value="Sign Up">
    </div>
    <div class="navbar-col-2">
        <div class="round navbar-logo"></div>
    </div>
    <div class="navbar-col-3">
        <input type="button" class="round basic-button navbar-button" value="Home">
        <input type="button" class="round basic-button navbar-button" value="About Us">
        <input type="button" class="round basic-button navbar-button" value="Contact">
    </div>
</div>
{{#if logged}}
<script src="/public/js/navbar.js" type="text/javascript"></script>
{{/if}}