<form class="form" method="GET" action="/posts/search" enctype="application/x-www-form-urlencoded">
    <div class="submission-grid-container">
        <input id="searchbartext" name="term" class="default-field submission-text searchbar-text" type="text" required/>
        <input id="searchbutton" class="submit-button search-button" type="submit" value="Search" />
    </div>
</form>