<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/{{this.filename}}.css">
</head>

<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                Globetrotter
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="">About</a>
            <a href="/previoustrips">Previous Trips</a>
            <a href="/savedtrips" >Saved Trips</a>
            <div class="dropdown">
                <button class="dropbtn">Profile
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/accountmanagement">Account Management</a>
                    <a href="/home">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="default-content">
        {{{body}}}
    </div>
</body>

</html>