<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/public/css/planner.css">
</head>

<body>
  <header>
    {{> navbar_v1 }}
  </header>
  <div class="default-content">
    {{{body}}}
  </div>
  <footer>
    <a href="/">Return Home</a>
  </footer>
</body>

</html>