<div>
  <div class="team-mate-container">
     <div class="container-header">
        <h1 class="member-name">Luis Alfaro</h1>
        <h3 class="member-role">Back End Lead</h3>
     </div> 

     <div class="container-body">
        <img src="../../public/images/luis.jpg" alt="" class="rounded-image member-image">
        
        <p class="member-bio">
           Hi! My name is Luis Alfaro and I am the back end lead for this project.
           I am planning to graduate at the end of Fall 2021 with a Bachelor's degree in Computer Science from SFSU.
           I love to watch scary movies and play video games in my free time.
        </p>
        <a class="email" href="mailto:lalfaro4@mail.sfsu.edu">
           lalfaro4@mail.sfsu.edu
         </a>
     </div>
  </div>
</div>