<div>
  <div class="team-mate-container">
     <div class="container-header">
        <h1 class="member-name">Yi Liu</h1>
        <h3 class="member-role">Front End</h3>
     </div> 

     <div class="container-body">
        <img src="../../public/images/YiLiu.jpg" alt="" class="rounded-image member-image">
        
        <p class="member-bio">
            Hello! My name is Yi Liu and I am a Computer Engineering major. I am graduating this fall 2021 and 
            probably goinf to Vancouver to study for my master degree in spring 2022. Compared to other team members, 
            I may be the one who is least familiar with programming languages, but I will do my best to help the team 
            members  successfully complete this project.
            I believe I will learn a lot this summer.
        </p>
        <a class="email" href="mailto:yliu22@mail.sfsu.edu">
           yliu22@mail.sfsu.edu
         </a>
     </div>
  </div>
</div>