<div class="row about-us">
    <div class="column">
        <h1>ABOUT US</h1>
    </div>
    <div class="column">
      Meet the Globrotter team! Feel free to click on the image of the person you would like to learn more information about.

    </div>
  </div>

  <div class="cards">
    <div class="card">
        <a href="/about/taylor"><img src="../../public/images/taylor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 type="button" class="card-title">Taylor Artunian</h5>
        </div></a>
      </div>
      <div class="card">
        <a href="/about/jesus"><img src="../../public/images/jesus.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 type="button" class="card-title">Jesus Correa</h5>
        </div></a>
      </div>
    <div class="card">
      <a href="/about/luis"><img src="../../public/images/luis.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 type="button" class="card-title">Luis Alfaro</h5>
        </div></a>
    </div>

      <div class="card">
        <a href="/about/Ruja"><img src="../../public/images/Ruja.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 type="button" class="card-title">Ruja Rajbhandari</h5>
        </div></a>
      </div>
      <div class="card">
        <a href="/about/yi"><img src="../../public/images/YiLiu.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 type="button" class="card-title">Yi Liu</h5>
        </div></a>
      </div>
      <div class="card">
        <a href="/about/kajeme"><img src="../../public/images/kajeme.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 type="button" class="card-title">Kajeme Cheneque</h5>
        </div></a>
      </div>

      <div class="card">
        <a href="/about/robin"><img src="../../public/images/robin.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 type="button" class="card-title">Robin Fernando</h5>
        </div></a>
      </div>
  </div>