<link rel="stylesheet" href="../public/css/home.css">

<div class="image-container">
    {{!-- <img class="background-img" src="/public/images/plane.jpg"> --}}
    <div class="opacity-div"></div>
</div>

<h1 class="team-name text home-text-alignment">Globetrotter Travel Assistant</h1>


<p class="slogan text home-text-alignment">The Right Flights at the Right Time</p>


{{!-- <p id = "home-intro">
    Here at Globetrotter, we are determined to bringing you the best flights deals. 
    Keep up to date flights in order to make sure that you will only purchase flights that are still available.
    To begin booking your trip, simply click "Plan Trips". 
</p> --}}


<div class="search-section home-text-alignment">
    <div class="search-fields">
        <input id="home-origin-input" class="origin-input input" type="text" placeholder="Origin" list="home-origin-airports"> </input>
        <datalist type="datalist" id="home-origin-airports"></datalist>
        <input id="home-destination-input" class="destination-input input" type="text" placeholder="Destination"
        list="home-destination-airports"></input>
        <datalist type="datalist" id="home-destination-airports"></datalist>
        <button id="home-search-button" class="search-button text">Plan Trip</button>
    </div>
    
</div>




<script src="/public/js/home.js"></script>