<div class="main-content">
    <link rel="stylesheet" href="../public/css/home.css">

    <div class="image-container"></div>

    <h1 class="team-name text home-text-alignment">Globetrotter Travel Assistant</h1>


    <p class="slogan text home-text-alignment">"The Right Flights at the Right Time"</p>

    <div class="description-container">
        <p class="description text home-text-alignment">
            Here at Globetrotter we are highly motivated in bringing the best flight deals. In doing so, we also aim to
            bring people all around the world together. Whether it be family, friends, or even just a solo trip,
            Globetrotter is here to make it as simple as possible. Let us help you book the adventure you've been
            wanting to go on!

        </p>
    </div>



    {{!-- <p id="home-intro">
        Here at Globetrotter, we are determined to bringing you the best flights deals.
        Keep up to date flights in order to make sure that you will only purchase flights that are still available.
        To begin booking your trip, simply click "Plan Trips".
    </p> --}}


    <div class="search-section home-text-alignment">
        <div class="search-fields">
            {{!-- <input id="home-origin-input" class="origin-input input" type="text" placeholder="Origin"
                list="home-origin-airports"> </input>
            <datalist type="datalist" id="home-origin-airports"></datalist>
            <input id="home-destination-input" class="destination-input input" type="text" placeholder="Destination"
                list="home-destination-airports"></input>
            <datalist type="datalist" id="home-destination-airports"></datalist> --}}
            <button id="home-search-button" class="search-button text">Register to Start Planning a Trip</button>
        </div>

    </div>
</div>




<script src="/public/js/home.js"></script>