<link rel="stylesheet" href="public/css/home.css">

<div class="image-container">
    <img class="background-img" src="public/images/plane.jpg">
    <div class="opacity-div"></div>
    <h1 class="team-name text">Globetrotter Travel Assistant</h1>
</div>

<p class="slogan text">The Right Flights at the Right Time</p>





<div class="search-section">
    <input class="origin-input input" type="text" placeholder="Origin"> </input>
    <input class="destination-input input" type="text" placeholder="Destination"></input>
    <button id="home-search-button" class="search-button text" style="width: 100%;">Plan Trip</button>
</div>




<script src="/public/js/home.js"></script>