<link rel="stylesheet" href="/public/css/login.css">


<div>Message: {{message}}</div>
<div class="container">
    <h2 class="container-title">Globetrotter</h2>

    <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <div class="email-info">
            <p class="email-title">Username</p>
            <input type="text" class="email-input" name="username" autofocus>
        </div>

        <div class="password-info">
            <p class="password-title">Password:</p>
            <input type="password" id="input" class="input" name="password">
            <input type="checkbox" class="box1" onclick="myFunction()">
            <p class="forgot-pass"><a href = "resetpassword">Forgot Password?</a></p>
        </div>



        <p class="terms-service">By resetting your password you agree to the <a href="#">Terms of Use </a>and <a
                href="#">Privacy Policy</a></p>

        {{!-- <button class="login-button">Log In</button> --}}
        <input id="login" type="submit" class="login-button" value="Login" />

    </form>
    <p class="create-account-option">Dont have an account?<a href="/registration"> Sign Up</a></p>
</div>

<script src="/public/js/showpassword.js"></script>