<div class="main-content planner">
    {{> planner/menubar }}
    <div class="planner-container">
        <div id="planner-trip"></div>
        <div id="planner-results-list"></div>
    </div>
</div>

<script src='/public/js/planner.js'></script>