<h1 class="text-center">Previous Trips</h1>
<div class="center-purchased ">
    <p class="text-center"> Click on the trips to view details and access photos from previously purchased trips:</p>
    {{#each trips}}
        {{> previoustrips/trip this}}
    {{/each}}
</div>