<div class="content-container">


    <div class = "additional-costs">
        <div class="container-title">
                <h2><p>Privacy</p></h2>
        </div>
        <div class = "info">
            <p>
               Globetrotter strongly believes in user privacy. 
               We are taking all the necessary precautions in order to ensure that your information will be safe.
               Below is a list of some of precautions Globetrotter is taking:<br>

               

            </p>
            <div class="list">
                    <p>
                        1. The website shall not save the users CVV number during the checkout process. <br>
                        2. The website shall not save the users CVV number after the checkout process. <br>
                        3. This website shall not sell user personal information to third parties.<br>
                        4. The website will not share private user information with other users unless where explicitly done by the user.<br>
                        5. The website shall not store any user medical information.<br>
                        6. The website will not store users’ IP addresses.<br>
                        7. The website will not share users’ IP addresses.<br>
                    </p>
                
            </div>

        </div>
    </div>
</div>


