{{!-- <link rel="stylesheet" href="../public/css/resetpassword.css"> --}}


{{!-- Not sure what to put for the action on the form. --}}
<form method="POST" action="/users/resetpassword" enctype="application/x-www-form-urlencoded">
    <div class="container">
            <h2 class="container-title">Reset Password</h2>

            {{!-- All if the text input fields are grouped in one container --}}
            <div class = "input-fields">

                {{!-- Input field for the Email-address --}}
                <p class="input-title">Email Address:</p>
                <input type="email" class="input" name="email">

                {{!-- Input field for the Username --}}
                <p class="input-title">Username:</p>
                <input type="text" class="input" name="username">

                {{!-- Input field for the Password --}}
                <p class="input-title">Password:</p>
                <input type="password" class="input" name="newPassword">

            </div>

            

            <p class="terms-service">By resetting your password you agree to the <a href="#">Terms of Use </a>and <a href="#">Privacy Policy</a></p>

            <input type="submit" class="reset-button button" id="send-button" value="Reset Password"></button>
            <p class="cancel"><a href = "login">Cancel</a></p>
            {{!-- <button class = "cancel-button button">Cancel</button> --}}

    </div>
</form>
