<div class="main-content">
    <div class="sharedalbums-album-grid">
        <div>Shared By</div>
        <div>Trip Name</div>
        <div>Album Link</div>
        {{#each albums}}
            {{> sharedalbums/album}}
        {{/each}}
    </div>
</div>