<div class="content-container">


    <div class = "additional-costs">
        <div class="container-title">
                <h2><p></p>Additional Costs</p></h2>
        </div>
        <div class = "info">
            <p>
                Globetrotter will not charge any users for using basic features such as searching for flights. 
                 All users have the opportunity to purchase A La Carte features such as searching for hotels, restaurants,
                etc. 
            </p>
            
        </div>
    

    </div>

    <div class = "disclaimer">
        <div class="container-title">
                <h2><p>Disclaimer</p></h2>
        </div>
        <div class = "info">
            <p>
                Globetrotter is doing everything necessary in order to ensure that using the website will be both safe and simple. 
                Although we are trying our best, sometimes that is not always the case. See list below for a short list of disclaimers:
            </p>
           
            <div class="list">
                <p>
                    1. Globetrotter and its employees cannot be held responsible for any data leaks.<br>
                    2. Globetrotter and its employees cannot be held responsible for any data loss.<br>
                    3. Globetrotter cannot be held responsible for any personal information that is stolen while our website is being used in public.<br>
                    4. Website is not responsible for users' violation of any laws while using the Service.<br>
                    5. Website reserves the right to suspend or terminate any user at any time.<br>
                </p>
                
            </div>
            
        </div>
    

    </div>

    <div class = "user-agreements">
        <div class="container-title">
                <h2><p>User Agreements</p></h2>
        </div>
        <div class = "info">
            <p>Globetrotter wants to maintain the website as a safe environment. 
            In doing so, we must ensure that all the users, either registered or unregistered, 
            are subscribing to the following agreements:
            </p>
            

            <div class="list">
                    <p>
                        1. Users agree not to harass Globetrotter employees using the website or email.<br>
                        2. Users agree not to harass other users using the website or email.<br>
                        3. Users agree not to post illegal content on the Globetrotter website.<br>
                        4. Users agree not to DDoS the Globetrotter website.<br>
                        5. Users agree not to tamper with the source code of the Globetrotter website.<br>
                        6. Users agree not to upload invalid data, viruses, worms or others through the website.<br>
                        7. Users agree to provide truthful and accurate content.<br>
                    </p>
                
            </div>
            
        </div>
    

    </div>
</div>


