<div>
    <input id="param-text" type="text">
    <input id="api-button" type="button" value="Test the API">
    <input id="output-text" type="text">
</div>

<script type="text/javascript" src="../public/js/vp.js"></script>