
*{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}


/* Have the background image take up 100% of the width of its container.
    Same applies to the height. Used pixels for the height to be more precise with measurements.
 */
.background-img{
    width: 100%;
    height: 1100px;
}

/* All the text elements that have a class of "text" will have the following style */
.text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

/* This is the styling for the word "Globetrotter" on the home screen */
.team-name{
    position: absolute;
    color: white;
    top: 20%;
    left: 30%;
    font-size: 4rem;

}

/* This is styling the container that  */
.image-container{
    position: relative;
    width: 100%;
    height: 100%;
}


/* This is the styling for the black see-through screen sitting on top of the backround image */
.opacity-div{
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
}

/* Styling for the slogan which is right under the word "Globetrotter on the home page */
.slogan{
    position: absolute;
    left: 33%;
    top: 35%;
    font-size: 3rem;
    color: white;

}

/* .home-intro{
    position: absolute;
    color: white;
    top: 10%;
} */

/* Styling for the container that holds all the elements that have to do with searching on the home page. */
.search-section{
    position: absolute;
    top: 55%;
    left: 30%;

}


/* Styling for all input fields that have the class of "input". */
.input{
    margin: 0, 3rem;
    height: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    font: 30px;
    margin-right: 8rem;
    padding-left: 10px;
    border:none;
}


/* Styling for input fields when they are clicked on. */
.input:focus{
    outline: none;
    transform: scale(1.05) perspective(1px)

}

/* Styling for the input field that holds the origin of flight.*/
.origin-input{
    margin-left: 10px;
}

/* Styling for the input field that holds the destination of flight.*/
.destination-input{
    margin-right: 30px;
}


/* This is the styling for the search button on the home page. */
.search-button{
    background-color: transparent;
    padding:  10px 30px;
    border-radius: 1rem;
    border: 1px solid white;
}


/* Styling for when the search button is hovered. */
.search-button:hover{
    background-color: white;
    color: black;
    transition: 0.7s;
    cursor: pointer;
}


/* The rest of the styling below is for when the wind is resized. There are mutliple screen sizes being taken into account. */
@media only screen and (max-width: 1400px) {

    .background-img{
        width: 100%;
        height: 1100px;
    
    }
    
    
    .team-name{
        position: absolute;
        color: white;
        left: 15%;
        font-size: 4rem;
    }
    
      
    .slogan{
        position: absolute;
        left: 30%;
        top: 40%;
        left: 20%;
        font-size: 3rem;
    }

    .search-section{
        top: 60%;
        left: 20%;
        left: 15%;
    
    }
    
    
    .destination-input{
        margin-right: 30px;
    }
    

}

@media only screen and (max-width: 1100px) {

    .background-img{
        width: 100%;
        height: 1100px;
    
    }
    
    .slogan{
        position: absolute;
        left: 30%;
        top: 40%;
        left: 15%;
        font-size: 3rem;
    }
    .search-section{
        display: flex;
        position: absolute;
        top: 60%;
        left: 20%;
        left: 8%;
    
    }
    

}

@media only screen and (max-width: 1050px) {

    .team-name{
        left: 15%;
        font-size: 3rem;

    }
    
    .slogan{
        position: absolute;
        left: 30%;
        top: 40%; 
        left: 20%;
        font-size: 2rem;
    
    }
    .search-section{
        flex-direction: column;
        position: absolute;
        top: 60%;
        left: 20%;
        left: 30%;
        bottom: 30%;
    }
    
    .input{
        margin: 4px 0;
    
    }
    
    .input:focus{
        outline: none;
        transform: scale(1.0) perspective(1px)
    
    }
    
    .origin-input{
        margin-left: 2px;
    } 
    
    .search-button{
        margin-top: 9px;
    }


}
