*{
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}

.image-container{
    background:url("../images/plane.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.opacity-div{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}

.text{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-text-alignment{
    position: absolute;
    display: block;
    /* border: solid white 1px; */
    text-align: center;
    width: 100%;
}

.team-name{
    top: 10%;
    font-size: 4rem;
}

.slogan{
    top: 40%;
    font-size: 3rem;
}

.search-section{
    top: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.input{
    width: 500px;
    margin: 20px auto;
    border-radius: 1rem;
    padding: 10px;
}

.input:focus{
    outline: none;
    transform: scale(1.05) perspective(1px);
    transition: 0.5s;
}

.search-button{
    width: 200px;
    padding: 10px 15px;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 0 auto;
}

.search-button:hover{
    background: white;
    color: black;
    transition: 0.8s;
    cursor: pointer;
}

@media only screen and (min-width: 1000px){

    .input{
        margin: 10px;
    }

    .search-section{
        display: flex;
        flex-direction: row;
    }

    .search-fields{
        margin: 0 auto;
    }

    .search-button{
        padding: 10px 15px;
        margin-left: 30px;
    }
    
}