:root {
    --main-font: monospace;
    --main-font-color: silver;
    --image-placeholder-color: grey;
    --hover-color: whitesmoke;
    --planner-trip-button-container-background-color: lightgreen;
    --border-radius: 2em;
    --green-color: rgb(82, 226, 164);
    --dark-green-color: rgb(37, 107, 77);
}
body {
    margin: 0%;
    font-family: var(--main-font);
}
header {
    margin: 0%;
}
.navbar-container {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: silver;
}
.round {
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: 1px;
    border-color: silver;
}
.basic-button {
    background-color: white;
    text-align: center;
    cursor: pointer;
}
.basic-button:hover {
    background-color: var(--hover-color);
}
.navbar-button {
    height: 100%;
}
.navbar-col-1 {
    display: block;
    margin: 0%;
}
/* .navbar-logo {
    width: 30px;
    height: 30px;
} */
.navbar-col-2 {
    display: block;
    text-align: center;
    margin: auto;
}
.navbar-col-3 {
    display: block;
    text-align: right;
    margin: 0%;
}
.default-content {
    height: 90vh;
}
.main-content {
    background-color: rgb(234, 237, 238);
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
}
.planner-menubar {
    background-color: var(--green-color);
    width: auto;
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: silver;
}
.planner-menubar-col-1 {
    display: block;
    text-align: left;
}
.planner-menubar-col-2 {
    display: block;
    text-align: right;
}
.planner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow-y: hidden;
}
#planner-trip-panel {
    display: grid;
    grid-template-rows: min-content 1fr min-content min-content;
    height: 100%;
    overflow-y: hidden;
}
.planner-panel-header {
    background-color: white;
    border-bottom-color: silver;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    padding: 1em;
}
.planner-trip-title-input {
    font-size: large;
    text-align: center;
}
#planner-trip {
    padding-left: 4em;
    padding-right: 4em;
    overflow-y: scroll;
}
.planner-activity {
    margin: 1em;
    transition: 0.4s;
    /* background-color:darkcyan;
    border: 1em solid lightgoldenrodyellow;
    padding: 1em; */
}
.planner-activity:hover {
    margin-left: 2em;
}
.planner-activity > label {
    display: grid;
    grid-template-columns: 0fr 1fr;
}
.planner-activity > label > [type=radio]:first-of-type {
    height: 0;
    width: 0;
    opacity: 0;
}
.planner-activity > label > [type=radio]:first-of-type:checked + div {
    background-color: #d5d5d5;
    /* background-color: var(--green-color); */
}
.planner-activity-header {
    padding: 2em;
    cursor: pointer;
    background-color: white;
    grid-template-columns: min-content 1fr;
    display: grid;
}
.planner-activity-numeral {
    text-align: center;
    vertical-align: middle;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    height: 2vw;
    width: 2vw;
}
.planner-activity-input-container {    
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.planner-activity-origin-input {
    width: 100%;
    box-sizing: border-box;
    text-indent: 1em;
}
.planner-activity-destination-input {
    width: 100%;
    box-sizing: border-box;
    text-indent: 1em;
}
.planner-activity-departure-date {
    min-width:fit-content;
    width: 100%;
}
.planner-remove-activity-button {    
}
.planner-add-activity-button {
    margin: 1em;
    text-align: center;
    font-size: large;
    cursor: pointer;
}
.planner-activity-child-container {
    padding: 0 18px;
    background-color:white;
    display: block;
    padding: 1em;
    margin-left: var(--border-radius);
}
.planner-trip-button-container {
    background-color: white;
    border-top-width: 1px;
    border-top-color: silver;
    border-top-style: solid;
}
.planner-trip-save-button {
    margin: 1em;
    text-align: center;
    font-size: large;
    cursor: pointer;
}
.planner-button-container {
    background-color: white;
}
.planner-proceed-button {
    margin: 1em;
    font-size: large;
}
input[type="time"] {
    text-align: center;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #e6e6e6;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin-left: 50%;
    animation: spin 2s linear infinite;
    display: grid;
}  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#planner-results-container {
    padding-left: 4em;
    padding-right: 4em;
    transition: 1s;
    overflow-y: scroll;
}
#planner-results-panel {
    display: grid;
    grid-template-rows: min-content 1fr min-content min-content;
    height: 100%;
    overflow-y: hidden;
}
#planner-results-list {
    overflow-y: scroll;
    transition: 1s;
}
.planner-result-item {
    background-color: white;
    color: #444;
    cursor: pointer;
    margin: 1em;
    padding: 18px;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.planner-result-item:hover {
    margin-left: 2em;
}
.planner-result-item-layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.planner-result-item-layout-col-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.planner-result-item-departure-date {
    width: max-content;
}

.planner-result-item-arrival-date {
    width: max-content;
}

.planner-result-item-layout-col-2 {
    text-align: center;
}

.planner-result-item-layout-col-3 {
    text-align: center;
}

.planner-result-item-layout-col-4 {
    text-align: right;
}
.planner-result-item-button {
    white-space: normal;
}
.planner-halign-text {
    text-align: center;
}
.planner-valign-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.planner-disabled {
    pointer-events: none;
    filter: blur(1em);
}
@media only screen and (max-width: 1300px) {
    #planner-trip {
        padding-left: 1em;
        padding-right: 1em;
    }
    .planner-activity-header {
        /* padding: 1em; */
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto;
    }
    .planner-activity-input-container {
        grid-template-columns: 1fr min-content 1fr 1fr 1fr;
        grid-template-rows: 2;
        display: grid;        
    }
    /* .planner-activity-input-container > * {
        margin: 1em;
    } */
    .planner-activity-departure-date {
        grid-column: 4 / 6;
        grid-row: 1;
    }
    .planner-search-activity-button {
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .planner-remove-activity-button {
        grid-column: 4 / 6;
        grid-row: 2;
    }
}

@media only screen and (max-width: 950px) {    
    .planner-activity-input-container {
        grid-template-columns: 1fr min-content 1fr;
        grid-template-rows: 4;
        display: grid;        
    }
    .planner-activity-departure-date {
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .planner-search-activity-button {
        grid-column: 1 / 4;
        grid-row: 3;
    }
    .planner-remove-activity-button {
        grid-column: 1 / 4;
        grid-row: 4;
    }
    .planner-result-item-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

input[type="date"] {
    text-align: center;
}

input {
    font-family: var(--main-font);
}