*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

/* Accordion */

.accordion {
    /* max-width: 700px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: rgb(37, 107, 77);
    
    /* padding-bottom: 10%; */
}

.accordion__label,
.accordion__content {
    padding: 14px 20px;
}

.accordion__label {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    color: black;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.accordion__label:hover {
    background: rgba(73, 70, 70, 0.1);
}

.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 0.90em;
    display: none;
}

.accordion__input {
    display: none;
}

.accordion__input:checked~.accordion__content {
    display: block;
}

.accordion__input:checked~.accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}

.center-purchased {
    margin: auto;
    width: 60%;
    padding: 10px;
}