*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/* Navbar begins */

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav #nav-check {
    display: none;
}

.nav .nav-header {
    display: inline;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    color: #ffffff;
}

.nav .nav-links a:hover {
    background-color: black;
}

@media (max-width: 600px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 10px;
    }
    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #ffffff;
    }
    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav #nav-check:checked~.nav-links {
        height: calc(100vh);
        overflow-y: auto;
    }
    /* Dropdown nav*/
    div.nav-links .dropdown {
        width: 100%;
    }
    div.nav-links .dropdown button.dropbtn {
        padding: 13px 10px;
        font-size: 18px;
        height: auto;
        line-height: normal;
        color: white;
    }
    .dropdown-content {
        padding: 10px;
        font-size: 16px;
        height: auto;
        line-height: normal;
        color: #333333;
        text-align: left;
        width: 100%;
        float: left !important;
    }
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    padding: 13px 10px;
    border: none;
    outline: none;
    background-color: inherit;
    color: #efefef;
    font-size: 18px;
    display: block;
    cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: black;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Navbar ends */

.text-center {
    text-align: center;
}


/* Accordion */

.accordion {
    max-width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: arial;
    background: grey;
    padding-bottom: 10%;
}

.accordion__label,
.accordion__content {
    padding: 14px 20px;
}

.accordion__label {
    display: block;
    color: black;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.accordion__label:hover {
    background: rgba(73, 70, 70, 0.1);
}

.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 0.90em;
    display: none;
}

.accordion__input {
    display: none;
}

.accordion__input:checked~.accordion__content {
    display: block;
}

.accordion__input:checked~.accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}

.center-purchased {
    margin: auto;
    width: 60%;
    padding: 10px;
}