*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/* Center*/

.center {
    margin: auto;
    width: 50%;
    border: 5px solid #ffffff;
    padding: 10px;
}

.row {
    display: inline-block;
    width: 49.5%;
}

.row input {
    display: block;
    width: 100%;
    border: 1px solid;
    border-radius: .25rem;
    height: 30px;
    border-color: #e4e9f2;
    margin: 10px 0;
}

.row label {
    display: block;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    border: 1px solid;
    border-radius: .25rem;
    height: 30px;
    border-color: #e4e9f2;
    margin: 10px 0;
}

.light-text {
    color: #808080;
}

.button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    border-radius: .25rem;
    font-size: 1rem;
    color: #000000;
    background-color: #AFEDBA;
    border: #AFEDBA;
}

.topnav-right {
    float: right;
}

#gender {
    width: 100%;
    border: 1px solid #e4e9f2;
    border-radius: 0.25rem;
    height: 30px;
    margin: 10px 0px;
}