/* Removing all of the padding on all of the elements */
*{
    padding: 0;
    margin: 0;
}

/* ALl of the p tags will have this font */
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* This is the styling for the container that contains everything in this page. The box 
   the middle of the screen */
.container{
    border: 1px solid lightgrey;
    width: 400px;
    margin: 0 auto;
    top: 400px;
    display: block;
    margin-top: 20%;
    padding: 20px 50px;
    height: 600px;
    border-radius: 1rem;
    box-shadow: 1px 1px 8px grey;

}

/* This styling is specifically for the title of the page. */
.container-title{
    margin: 50px 100px;

}

/* This is styling for all of the input fields in the page. */
.input-fields{
    margin: 50px 80px 10px 20px;
}

/* This is the styling for the container that holds all of the input fields. */
.input{
    width: 350px;
    margin-bottom: 30px;
    padding: 6px 5px;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

/* Styling for when an input field is clicked on. */
.input:focus{
    outline: none;
    transform: scale(1.05) perspective(1px);
    transition: 0.7s;
    border: 1px solid black;

}

/* Styling for the text that says the "Terms of Service". */
.terms-service{
    font-size: 15px;
    top: 300px;
}

/* This is the styling for the button to complete the form*/
.button{
    /* display: block; */
    margin: 0 auto;
    margin-top: 50px;
    padding: 12px 40px;
    border-radius: 1rem;
    border: 1px solid lightgray;
    background-color: white;
    cursor: pointer;
}

/* Styling for when the button is hovered. */
.button:hover{
    transform: scale(1.05) perspective(1px);
    transition: 0.7s;
    border: 1px solid black;
}

/* Styling for the reset button */
.reset-button{
    margin-left: 150px;
}

/* Styling for the button that cancels the resetting of a password.*/
.cancel{
    margin-left: 185px;
    margin-top: 20px;
    font-size: 15px;
}

