*{
    padding: 0;
    margin: 0;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    border: 1px solid lightgrey;
    width: 400px;
    margin: 0 auto;
    top: 400px;
    display: block;
    /* display: flex; */
    margin-top: 20%;
    padding: 20px 50px;
    height: 600px;
    border-radius: 1rem;
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 1px 1px 8px grey;

}

.container-title{
    margin: 50px 100px;

}

.input-fields{
    margin: 50px 80px 10px 20px;
}

.input{
    width: 350px;
    margin-bottom: 30px;
    padding: 6px 5px;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.input:focus{
    outline: none;
    transform: scale(1.05) perspective(1px);
    transition: 0.7s;
    border: 1px solid black;

}

.terms-service{
    font-size: 15px;
    top: 300px;
}

.button{
    /* display: block; */
    margin: 0 auto;
    margin-top: 50px;
    padding: 12px 40px;
    border-radius: 1rem;
    border: 1px solid lightgray;
    background-color: white;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.05) perspective(1px);
    transition: 0.7s;
    border: 1px solid black;
}

.reset-button{
    margin-left: 150px;
}

.cancel{
    margin-left: 185px;
    margin-top: 20px;
    font-size: 15px;
}
/* .cancel-button{
    margin-left: 10px;
} */