:root {
    --main-font: monospace;
    --main-font-color: silver;
    --image-placeholder-color: grey;
    --navbar-container-color: red;
    --hover-color: whitesmoke;
    --border-radius: 2em;
}
body {
    margin: 0%;
    font-family: var(--main-font);
}
header {
    margin: 0%;
}
.navbar-container {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 1em;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: grey;
}
.round {
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: 1px;
    border-color: silver;
}
.basic-button {
    background-color: white;
}
.basic-button:hover {
    background-color: var(--hover-color);
}
.navbar-button {
    height: 100%;
}
.navbar-col-1 {
    display: block;
    margin: 0%;
}
.navbar-logo {
    width: 30px;
    height: 30px;
}
.navbar-col-2 {
    display: block;
    text-align: center;
    margin: auto;
}
.navbar-col-3 {
    display: block;
    text-align: right;
    margin: 0%;
}
.default-content {
    height: 70vh;
}
.main-content {
    height: 100%;
    overflow: hidden;
}
.planner-menubar {
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
}
.planner-menubar-col-1 {
    display: block;
    text-align: left;
}
.planner-menubar-col-2 {
    display: block;
    text-align: right;
}
.planner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
#planner-trip {
    overflow-y: scroll;
}
.planner-activity {
    /* background-color: #444; */
    margin: 1em;
}
.planner-activity > input:first-of-type {
    visibility: hidden;
    position: absolute;
}
.planner-activity > input:first-of-type:checked + div {
    background-color: #444;
}
.planner-activity-header {    
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    /* background-color: darkgray; */
    cursor: pointer;
    text-align: left;
    padding: 2em;
    outline: none;
    transition: 0.4s;
}
.planner-activity-numeral {
    text-align: center;
    align-self: center;
}

.planner-activity-origin-input {
    width: 100%;
    box-sizing: border-box;
}

.planner-activity-destination-input {
    width: 100%;
    box-sizing: border-box;
}

.planner-activity-departure-date {
    min-width:fit-content;
}

.planner-remove-activity-button {    
}

.planner-activity-child {
    padding: 0 18px;
    /* background-color:lightgray; */
    display: block;
    padding: 1em;
    margin-left: var(--border-radius);
}


#planner-results-list {
    overflow-y: scroll;
}
.planner-result-item {
    background-color: white;
    color: #444;
    cursor: pointer;
    margin: 1em;
    padding: 18px;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.planner-result-item-layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.planner-result-item-layout-col-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.planner-result-item-layout-col-2 {
    text-align: center;
}

.planner-result-item-layout-col-3 {
    text-align: center;
}

.planner-result-item-layout-col-4 {
    text-align: right;
}

@media only screen and (max-width: 800px) {
    .planner-activity-button-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .planner-result-item-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media only screen and (max-width: 480px) {
    .navbar-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-flow: dense;
   }
    .navbar-col-1 {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        margin: auto;
   }
    .navbar-col-2 {
        grid-column: 1;
        grid-row: 1;
        margin: auto;
   }
    .navbar-col-3 {
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        margin: auto;
   }
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}