.gallery-description-container{
    /* position: absolute; */
    /* top: 450px; */
    padding: 30px;
    text-align: 0;
    font-size: 14px;
    margin-bottom: 20px;
}
.default-content {
    height: 95vh;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    height: 100%;
    overflow-y: hidden;
}

.images-container{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    /* gap: 25px; */
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(125, 151, 133);
}

.photogallery-photo {
    padding: 1em;
    border-radius: 2em;
    background-color: rgb(217, 221, 132);
    margin: 1em;
    transition: 0.2s;
    align-items: center;
    text-align: center;
}

.photogallery-photo > a > img {
    max-width: 100%;
    max-height: 100%;
}


.photogallery-panel {
    grid-column: 2;
    grid-row: 1;
    padding: 1em;
    background-color: rgb(125, 151, 133);
}
.photogallery-invite-user-button {
    width: 100%;
}
.photogallery-invited-user-item {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.photogallery-button-container {
    grid-column: 1 / 3;
    grid-row: 2;
}

.buttons-container{
    display: block;
    /* position: absolute; */
    /* top: 800px; */
    width: 100px;
    margin: 30px auto;
}

.photogallery-invite-user-button,
.photogallery-invited-user-remove-button,
.picbutton{
    background-color: white;
    border: 0.5px solid lightgray;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upload-box{
    font-size: 1rem;
    background: white;
    border-radius: 2rem;
    border: 0.5px solid lightgrey;
}

::-webkit-file-upload-button{
    background-color: white;
    border: 0.5px solid lightgray;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s;
  }

::-webkit-file-upload-button:hover,
::-webkit-file-upload-button:focus {
    transition: 0.5s;
    box-shadow: 5px 5px 5px lightgray;
}


.add-img-btn:hover,
.picbutton:hover{
    transition: 0.5s;
    box-shadow: 5px 5px 5px lightgray;
}

/* @media only screen and (min-width: 1150px) {
    .images-container{
        
        grid-template-columns: repeat(3, 1fr);
        border: 5px solid black;
    
    }

    img {
        width: 500px;
        height: 500px;
    }

    .gallery-description-container{
        padding: 40px 200px;
        font-size: 17px;
    }
} */