/* Removing the padding and margin from all elements in the reset password page. */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling for the body of the html page. Mainly used to center everything in the page. */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
}


/* Styling for all <p>, <h2>, and <button> elements. */
p,h2, button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* This is the container that holds anything that has to do with reseting password. 
This is the container that is in the center of the screen. */
.container{
    display: flex;
    position: absolute;
    top: 60%;
    border: 1px lightgrey solid;
    border-radius: 1rem;
    padding: 100px;
    width: 30%;
    height: 70%;
    box-shadow: 1px 1px 8px grey;

}

/* Stlying for the text that says "Reste Password" */
.container-title{
    position: absolute;
    top: 10%;
    left: 37%;
}

/* This is styling for the text that says "Email" above the input field/ */
.input-title{
    position: absolute;
    top: 34%;
}

/* Styling for the input field. */
.text-input{
    position: absolute;
    width: 65%;
    border-radius: 0.3rem;
    border: 1px darkgray solid;
    height: 10%;
    top: 40%;
    padding-left: 5px;

}

/* Styling for the terms of service text located under the input field. */
.terms-service{
    position: absolute;
    top: 52%;
    font-size: 0.7rem;
    color: darkgray;
    padding-right: 20px;
    left: 20%;
}

/* Styling for the send button */
.send-button{
    position: absolute;
    top: 70%;
    left: 40%;
    width: 20%;
    height: 10%;
    border-radius: 0.5rem;
    border: 1px darkgrey solid;
    background-color: white;
    cursor: pointer;

}

/* Styling for when the send button is hovered. Gave it a pop up look. */
.send-button:hover{
    transform: scale(1.05) perspective(1px)
}

/* Styling for when the user wants to cancel the reset password option. */
.cancel{
    position: absolute;
    top: 85%;
    left: 47%;
    font-size: 0.7rem;
    text-decoration: none;
    color: darkgray;

}

/* The followling styling is to accomidate resizing of the window screen. */
@media only screen and (max-width: 1600px) {

    
    .container-title{
        left: 29%;
    }
    
    .input-title{
        left: 20%;
    }
    
    .text-input{
        left: 20%;
    }
    
    .terms-service{
        position: absolute;
        left: 14%;
        padding: 0 20px;
        line-height: 20px;
    }
    
    .send-button{
        top: 75%;
    }
    
    
    
    .cancel{
        position: absolute;
        top: 90%;
        left: 45%;
    }

}