<div class="basic-select">
  <select>
    <optgroup>
      <option value="" disabled selected hidden>Option</option>
      <option value="Option 1">Option 1</option>
      <option value="Option 2">Option 2</option>
    </optgroup>
  </select>
</div>