<div class="photogallery-invited-user-item">
    <div>{{username}}</div>
    <form method="POST" action="/photogallery/{{@root.photoAlbumId}}/invitedusers/{{user}}/uninvite">
    <input type="submit" class="photogallery-invited-user-remove-button" value="Remove">
    </form>
</li>