<div class = "image-container">
    <img src = "{{photo_id}}">
    <p>{{title}}</p>
</div>

<div class = "description-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reprehenderit itaque libero deserunt accusamus rem corporis
        voluptatem ipsam iusto sequi repudiandae 
        laboriosam vel quo necessitatibus,
        eum fugit nesciunt officia, nihil consequuntur.
    </p>
</div>
