<div>
  <div class="team-mate-container">
     <div class="container-header">
        <h1 class="member-name">Jesus Correa</h1>
        <h3 class="member-role">Front End</h3>
     </div> 

     <div class="container-body">
        <img src="images/jesus.jpeg" alt="" class="rounded-image member-image">
        
        <p class="member-bio">
            Hello! My name is Jesus Correa and I am a Computer Science major. My last semester
            will be in Spring 2022. During my free time I like to go on runs and hanging out with friends.
            I recently just hit my 600th mile ran which is a huge accomplishment for me. I am really looking 
            forward to the rest of this class because I am excited to learn what it means to be a 
            Software Engineer.
        </p>
     </div>
  </div>
</div>