<div>
  <div class="team-mate-container">
     <div class="container-header">
        <h1 class="member-name">Kajeme Cheneque</h1>
        <h3 class="member-role">Back End</h3>
     </div> 

     <div class="container-body">
        <img src="../../public/images/kajeme.jpeg" alt="" class="rounded-image member-image">
        
        <p class="member-bio">
            Hi, my name is Kajeme Cheneque. I am a part of Team Zebra. I am currently 
            a senior in San Francisco State University studying towards a bachelor's
            degree in Computer Science. I am excited to be graduating in the Fall of 2021.
            I also love to play guitar in my spare time.
        </p>
     </div>
  </div>
</div>