<div>
  <div class="team-mate-container">
     <div class="container-header">
        <h1 class="member-name">Robin Fernando</h1>
        <h3 class="member-role">Front End</h3>
     </div> 

     <div class="container-body">
        <img src="images/robin.jpg" alt="" class="rounded-image member-image">
        
        <p class="member-bio">
           Hey there! My name is Robin and I'm a Senior Computer Science Major hoping to graduate this fall.
           In my free time when I'm not figuring out why my code isn't compiling, I'm probably either playing
           World of Warcraft, learning how to cook, or snowboarding when the time is right.
           I'm excited for what we can learn in this class together!
        </p>
     </div>
  </div>
</div>