<div>
  <div class="team-mate-container">
     <div class="container-header">
        <h1 class="member-name">Ruja Rajbhandari</h1>
        <h3 class="member-role">Front End</h3>
     </div> 

     <div class="container-body">
        <img src="images/Ruja.jpeg" alt="" class="rounded-image member-image">
        
        <p class="member-bio">
           Hello! I am Ruja Rajbhandari, a senior at San Francisco State University.
           I am majoring in Computer Science and am planning to graduate this Fall.
           I am from the capital city, Kathmandu, of a small but beautiful country, Nepal.
           I have been living in the US for 4 years now as an international student and have loved the experienceso far.
           When I am free from my school work, I enjoy traveling.
           However, since the pandemic I have been stuck inside and now my source of entertainment is TikTok
           and watching tons of Youtube videos.
        </p>
     </div>
  </div>
</div>