<div>
  <div class="team-mate-container">
     <div class="container-header">
        <h1 class="member-name">Taylor Artunian</h1>
        <h3 class="member-role">Team Lead</h3>
     </div> 

     <div class="container-body">
        <img src="images/taylor.jpg" alt="" class="rounded-image member-image">

        <p class="member-bio">
            Greetings! My name is Taylor and I am the lead for Team 2. Currently, I am in my senior year of
            Computer Engineering at SFSU and will be finishing my Bachelors degree this Fall as well as starting
            my masters program in Embedded Systems. When I am not in school, I work with my dad doinf IT support
            for hotels in SoCal which I find can be just as fun as engineering or coding. Other than that I enjoy
            cooking, playing LoL, practicing foreign languages, and being outdoors.
        </p>
     </div>
  </div>
</div>